$base-font-size: 12pt;
$base-font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;

$player-background-normal: #fff;
$player-background-inverse: #434546;
$player-background-highlight: #46aaff;
$player-text-normal: #434546;
$player-text-inverse: #fefefe;
$player-text-highlight: #46aaff;
$player-text-white: #fefefe;
$player-text-light: #888;

$playlist-track-border: 1px solid #e4e4e4;
$playlist-background-normal: #f4f4f4;
$playlist-background-selected: #eee;
$playlist-background-hover: #eee;
$playlist-text-normal: #434546;
$playlist-text-selected: #46aaff;
$playlist-text-hover: #434546;

$dark-player-background-normal: #333;
$dark-player-background-inverse: #888;
$dark-player-background-highlight: #46aaff;
$dark-player-text-normal: #fefefe;
$dark-player-text-inverse: #fefefe;
$dark-player-text-highlight: #46aaff;
$dark-player-text-white: #fefefe;
$dark-player-text-light: #888;

$dark-playlist-track-border: 1px solid #181818;
$dark-playlist-background-normal: #292929;
$dark-playlist-background-selected: #333;
$dark-playlist-background-hover: #292929;
$dark-playlist-text-normal: #c9c9c9;
$dark-playlist-text-selected: #46aaff;
$dark-playlist-text-hover: #fefefe;

/* >> reset */
* {
  -webkit-tap-highlight-color: transparent;
}
span, p, a, ol, li, audio, :before, :after {
  box-sizing: border-box;
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
ol li {
  margin: 0;
  display: block;
  list-style: decimal outside;
}
html, body {
  height: 100%;
}
a, a:focus, a:active, a:hover, a:visited {
  text-decoration: none;
}
a[href], a[href]:link, a[href]:active,
a[href]:visited, a[href]:focus, a[href]:hover {
  outline: 0 none;
  
}
/* << reset */

/* page style */

.page {
  position: relative;
  margin: 0 auto;
  height: 400px;
  max-width: 600px;
}


/* Audio Player */
.player-wrap {
  position: relative;
  margin: 0 auto;
  padding: 0;
  min-width: 250px;
  overflow: hidden;
  background: $player-background-normal none no-repeat center center;
  background-size: cover;
  font-family: $base-font-family;
  line-height: 1.5em;
  font-size: $base-font-size;
  color: $player-text-white;
  &.view-port {
    max-width: 100vmin;
    max-height: 100vmin;
  }
  svg {
    position: relative;
    margin: 20%;
    width: 10%;
    height: 10%;
    fill: currentColor;
  }
  .player {
    display: none;
  }
  .title-text {
    font-weight: bold;
    font-size: 1em;
  }
  .big-play-button,
  .big-pause-button,
  .play-button,
  .pause-button,
  .prev-button,
  .next-button,
  .playlist-button {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .prev-button,
  .next-button,
  .playlist-button {
    display: none;
  }
  .big-play-pause,
  .play-pause {
    position: relative;
    z-index: 2;
    display: none;
    overflow: hidden;
  }
  .big-play-pause {
    display: none;
    color: $player-text-inverse;
    .big-play-button:before,
    .big-pause-button:before {
      background-color: rgba(0,0,0,0.6);
    }
    &:hover .big-play-button:before,
    &:hover .big-pause-button:before {
      background-color: $player-background-highlight;
    }
  }
  .big-play-pause:before {
    float: left;
    content: '';
    display: block;
    padding: 100% 0 0 0;
    width: 0;
    height: 0;
  }
  .big-play-button,
  .big-pause-button {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .play-button:hover,
  .pause-button:hover,
  .prev-button:hover,
  .next-button:hover,
  .playlist-button:hover {
    color: $player-text-highlight;
  }
  .play-button:hover:before,
  .pause-button:hover:before,
  .prev-button:hover:before,
  .next-button:hover:before,
  .playlist-button:hover:before {
    background-color: rgba($player-background-highlight,.1);
  }
  .next-button {
    left: auto;
    right: 0;
  }
  .playlist-button {
    color: $player-text-light;
    border-radius: 15%;
  }
  .seek-wrap {
    height: 1em;
    line-height: 1em;
  }
  .seek-bar {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .current-time {
    float: left;
    font-size: .79em;
  }
  .duration-time {
    float: right;
    font-size: .79em;
  }
  audio,
  .big-pause-button,
  .pause-button {
    display: none;
  }

  /* Playlist */
  .playlist-wrap {
    position: absolute;
    left: 0;
    top: 0px;
    padding-top: 11em;
    width: 100%;
    height: 350px;
    overflow: hidden;
    color: $playlist-text-normal;
    h2 {
      position: absolute;
      left: 0;
      top: 6em;
      padding: 0 1em;
      width: 100%;
      background-color: $playlist-background-normal;
      line-height: 0px;
      font-weight: bold;
      font-size: 1.2em;
    }
    ol {
      display: block;
      height: 100%;
      overflow: auto;
      background-color: $playlist-background-normal;
      counter-reset: track-counter;
      list-style: none inside;
    }
    li {
      margin: 0;
      border-top: $playlist-track-border;
      padding: 0;
    }
    a {
      display: block;
      padding: .25em 1em .25em 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    li a:before {
      display: inline-block;
      content: counter(track-counter, decimal);
      counter-increment: track-counter;
      width: 2em;
      margin-right: 1em;
      text-align: right;
    }
    li,
    a[href]:link,
    a[href]:active,
    a[href]:visited {
      text-decoration: none;
      color: $playlist-text-normal;
    }
    a[href]:focus,
    a[href]:hover {
      background-color: $playlist-background-hover;
      text-decoration: none;
      color: $playlist-text-hover;
    }
    li.sel a[href] {
      background-color: $playlist-background-selected;
      color: $playlist-text-selected;
    }
  }
}

/* Cover Art (optional playlist) */
.player-wrap.cover-art.enabled {
  min-height: 250px;
  &:after,
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
  }
  &:before {
    float: left;
    padding: 100% 0 0 0;
  }
  &:after {
    clear: both;
  }
  .artist-text {
    display: none;
  }
  .player {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    padding: 10% 6% 4%;
    width: 100%;
    background: $player-background-inverse;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 20%,rgba(0,0,0,0.55) 50%,rgba(0,0,0,0.6) 100%);
  }
  .big-play-pause {
    position: absolute;
    left: 50%;
    bottom: 50%;
    display: block;
    margin: 0 0 -13% -13%;
    width: 26%;
    height: 26%;
  }
  &.list-view .big-play-pause,
  .play-pause,
  .prev-button,
  .next-button,
  .playlist-button {
    display: none;
  }
  &.list-view {
    background-position: center top;
    background-size: 100% auto;
    &:before, &:after {
      height: 70px;
    }
    .player {
      z-index: 1;
      top: 100%;
      bottom: auto;
      margin-top: -9em;
      padding: 0;
      height: 9em;
    }
    .title-text {
      position: absolute;
      left: 0;
      bottom: 5.25em;
      padding: 0 6%;
      width: 100%;
    }
    .controls {
      position: absolute;
      left: 0;
      bottom: 0;
      margin-top: 4%;
      padding: 2.5em 6% 0;
      width: 100%;
      height: 5em;
      background: $player-background-normal none;
      color: $player-text-normal;
      border-radius: 1em 1em 0 0;
    }
    .play-pause,
    .prev-button,
    .next-button,
    .playlist-button {
      position: absolute;
      top: 10%;
      display: block;
      width: 2em;
      height: 2em;
    }
    .play-pause {
      left: 56%;
    }
    .prev-button {
      left: 31%;
    }
    .next-button {
      left: 79%;
    }
    .playlist-button {
      left: 8%;
      background: none no-repeat center center;
      background-size: cover;
    }
    .current-time,
    .duration-time {
      color: $player-text-light;
    }
    .playlist-wrap {
      position: absolute;
      left: 0;
      top: 100%;
      height: 100%;
      width: 100%;
      padding-top: 5em;
    }
    &.show-list .player {
      top: 5em;
      .playlist-button svg {
        display: none;
      }
    }
    &.show-list .playlist-wrap {
      top: 0;
    }
    .player,
    .playlist-wrap {
      transition: top .2s ease;
    }
  }
}

/* Track View (optional playlist) */
.player-wrap.track-view.enabled {
  background-position: -100% -100%;
  background-size: contain;
  border-radius: .5em;
  color: $player-text-normal;
  &:before,
  &:after {
    display: none;
  }
  .player {
    position: relative;
    display: block;
    padding: 1em;
  }
  .player:after {
    content: '';
    display: block;
    clear: both;
  }
  .title-text {
    margin-left: 2.55em;
  }
  .artist-text {
    margin-left: 3em;
  }
  .play-pause {
    position: absolute;
    left: .5em;
    top: .5em;
    display: block;
    width: 3em;
    height: 3em;
  }
  .play-pause:hover {
    color: $player-text-highlight;
  }
  .current-time,
  .duration-time {
    color: $player-text-light;
  }
  &.list-view {
    height: 100%;
    min-height: 200px;
    background-position: 1em .5em;
    background-size: 7em 7em;
    .player {
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      padding: 2em 1em 2.5em 9em;
      width: 100%;
      height: 8em;
      overflow: hidden;
    }
    .play-pause {
      left: 8.5em;
      top: 1.5em;
    }
  }
}

/* Button Only */
.player-wrap.button-only.enabled {
  min-width: 0;
  background: transparent none !important;
  .player,
  .playlist-wrap {
    display: none;
  }
  .big-play-pause {
    display: block;
    color: $player-text-normal;
    :before {
      background-color: $player-background-normal;
    }
    :hover {
      color: $player-text-white;
    }
    :hover:before {
      background-color: $player-background-highlight;
    }
  }
}

/* >> input[type=range] class: seek-bar */
input.seek-bar[type=range] {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  outline: 0 none;
  background-color: transparent;
  line-height: 1em;
  vertical-align: top;
  font-size: 1em;
  -webkit-appearance: none;
  cursor: pointer;
}
input.seek-bar[type=range]:focus {
  outline: 0 none;
}
input.seek-bar[type=range]::-webkit-slider-runnable-track {
  box-sizing: border-box;
  width: 98%;
  height: .125em;
  background-color: $player-text-inverse;
  cursor: pointer;
  transition: all .2s ease;
}
input.seek-bar[type=range]::-webkit-slider-thumb {
  box-sizing: border-box;
  width: .5em;
  height: .5em;
  margin-top: -.175em;
  border-radius: .5em;
  background-color: $player-text-inverse;
  -webkit-appearance: none;
}
.seek-wrap.sel input.seek-bar[type=range]::-webkit-slider-thumb,
.seek-wrap:hover input.seek-bar[type=range]::-webkit-slider-thumb {
  margin-top: -.3em;
  margin-left: -.05em;
  width: .75em;
  height: .75em;
  background-color: $player-text-highlight;
}
input.seek-bar[type=range]:focus::-webkit-slider-runnable-track {
  background-color: $player-text-inverse;
}
input.seek-bar[type=range]::-moz-range-track {
  box-sizing: border-box;
  border: 0 solid $player-text-inverse;
  width: 98%;
  height: .125em;
  background-color: $player-text-inverse;
  border-radius: .125em;
  transition: all .2s ease;
}
input.seek-bar[type=range]::-moz-range-thumb {
  box-sizing: border-box;
  border: 0 solid $player-text-inverse;
  width: .5em;
  height: .5em;
  background-color: $player-text-inverse;
  border-radius: .5em;
}
.seek-wrap.sel input.seek-bar[type=range]::-moz-range-thumb,
.seek-wrap:hover input.seek-bar[type=range]::-moz-range-thumb,
input.seek-bar[type=range]::-moz-range-thumb:hover {
  margin-top: -.175em;
  margin-left: -.1em;
  width: .75em;
  height: .75em;
  background-color: $player-text-highlight;
}
input.seek-bar[type=range]::-ms-track {
  box-sizing: border-box;
  border: 0 none;
  width: 99%;
  height: .125em;
  background-color: transparent;
  color: transparent;
  transition: all .2s ease;
}
input.seek-bar[type=range]::-ms-fill-lower {
  background-color: $player-text-inverse;
  border-radius: .125em;
}
input.seek-bar[type=range]::-ms-fill-upper {
  background-color: $player-text-inverse;
  border-radius: .125em;
}
input.seek-bar[type=range]::-ms-thumb {
  position: relative;
  margin-top: .1em;
  box-sizing: border-box;
  width: .5em;
  height: .5em;
  background-color: $player-text-inverse;
  border-radius: .5em;
}
.seek-wrap.sel input.seek-bar[type=range]::-ms-thumb,
.seek-wrap:hover input.seek-bar[type=range]::-ms-thumb {
  margin-top: -.01em;
  margin-left: -.1em;
  width: .75em;
  height: .75em;
  background-color: $player-text-highlight;
}
input.seek-bar[type=range]:focus::-ms-fill-lower {
  background-color: $player-text-inverse;
}
input.seek-bar[type=range]:focus::-ms-fill-upper {
  background-color: $player-text-inverse;
}

.player-wrap.cover-art.list-view,
.player-wrap.track-view {
  input.seek-bar[type=range]::-webkit-slider-runnable-track {
    background-color: $player-text-normal;
  }
  input.seek-bar[type=range]::-webkit-slider-thumb {
    background-color: $player-text-normal;
  }
  .seek-wrap.sel input.seek-bar[type=range]::-webkit-slider-thumb,
  .seek-wrap:hover input.seek-bar[type=range]::-webkit-slider-thumb {
    background-color: $player-text-highlight;
  }
  input.seek-bar[type=range]:focus::-webkit-slider-runnable-track {
    background-color: $player-text-normal;
  }
  input.seek-bar[type=range]::-moz-range-track {
    background-color: $player-text-normal;
  }
  input.seek-bar[type=range]::-moz-range-thumb {
    background-color: $player-text-normal;
  }
  .seek-wrap.sel input.seek-bar[type=range]::-moz-range-thumb,
  .seek-wrap:hover input.seek-bar[type=range]::-moz-range-thumb,
  input.seek-bar[type=range]::-moz-range-thumb:hover {
    background-color: $player-text-highlight;
  }
  input.seek-bar[type=range]::-ms-track {
    background-color: $player-text-normal;
  }
  input.seek-bar[type=range]::-ms-fill-lower {
    background-color: $player-text-normal;
  }
  input.seek-bar[type=range]::-ms-fill-upper {
    background-color: $player-text-normal;
  }
  input.seek-bar[type=range]::-ms-thumb {
    background-color: $player-text-normal;
  }
  .seek-wrap.sel input.seek-bar[type=range]::-ms-thumb,
  .seek-wrap:hover input.seek-bar[type=range]::-ms-thumb {
    background-color: $player-text-highlight;
  }
}
/* << input[type=range] class: seek-bar */

.player-wrap.dark {
  background-color: $dark-player-background-normal;
  color: $dark-player-text-white;
  .big-play-pause {
    &:hover .big-play-button:before,
    &:hover .big-pause-button:before {
      background-color: $dark-player-background-highlight;
    }
  }
  .play-button:hover,
  .pause-button:hover,
  .prev-button:hover,
  .next-button:hover,
  .playlist-button:hover {
    color: $dark-player-text-highlight;
  }
  .play-button:hover:before,
  .pause-button:hover:before,
  .prev-button:hover:before,
  .next-button:hover:before,
  .playlist-button:hover:before {
    background-color: rgba($dark-player-background-highlight,.1);
  }
  .playlist-button {
    color: $dark-player-text-light;
  }
  .playlist-wrap {
    color: $dark-playlist-text-normal;
    h2, ol {
      background-color: $dark-playlist-background-normal;
    }
    li {
      border-top: $dark-playlist-track-border;
    }
    a[href]:link,
    a[href]:active,
    a[href]:visited {
      color: $dark-playlist-text-normal;
    }
    a[href]:focus,
    a[href]:hover {
      background-color: $dark-playlist-background-hover;
      color: $dark-playlist-text-hover;
    }
    li.sel a[href] {
      background-color: $dark-playlist-background-selected;
      color: $dark-playlist-text-selected;
    }
  }
  &.cover-art.enabled {
    .controls {
      background: $dark-player-background-normal none;
      color: $dark-player-text-normal;
    }
    .current-time,
    .duration-time {
      color: $dark-player-text-light;
    }
  }
  &.track-view.enabled {
    color: $dark-player-text-normal;
    .play-pause:hover {
      color: $dark-player-text-highlight;
    }
    .current-time,
    .duration-time {
      color: $dark-player-text-light;
    }
  }
  &.button-only.enabled {
    .big-play-pause {
      color: $dark-player-text-normal;
      :before {
        background-color: $dark-player-background-normal;
      }
      :hover {
        color: $dark-player-text-white;
      }
      :hover:before {
        background-color: $dark-player-background-highlight;
      }
    }
  }
  input.seek-bar[type=range]::-webkit-slider-runnable-track {
    background-color: $dark-player-text-inverse;
  }
  input.seek-bar[type=range]::-webkit-slider-thumb {
    background-color: $dark-player-text-inverse;
  }
  .seek-wrap.sel input.seek-bar[type=range]::-webkit-slider-thumb,
  .seek-wrap:hover input.seek-bar[type=range]::-webkit-slider-thumb {
    background-color: $dark-player-text-highlight;
  }
  input.seek-bar[type=range]:focus::-webkit-slider-runnable-track {
    background-color: $dark-player-text-inverse;
  }
  input.seek-bar[type=range]::-moz-range-track {
    border: 0 solid $dark-player-text-inverse;
    background-color: $dark-player-text-inverse;
  }
  input.seek-bar[type=range]::-moz-range-thumb {
    border: 0 solid $dark-player-text-inverse;
    background-color: $dark-player-text-inverse;
  }
  .seek-wrap.sel input.seek-bar[type=range]::-moz-range-thumb,
  .seek-wrap:hover input.seek-bar[type=range]::-moz-range-thumb,
  input.seek-bar[type=range]::-moz-range-thumb:hover {
    background-color: $dark-player-text-highlight;
  }
  input.seek-bar[type=range]::-ms-fill-lower {
    background-color: $dark-player-text-inverse;
  }
  input.seek-bar[type=range]::-ms-fill-upper {
    background-color: $dark-player-text-inverse;
  }
  input.seek-bar[type=range]::-ms-thumb {
    background-color: $dark-player-text-inverse;
  }
  .seek-wrap.sel input.seek-bar[type=range]::-ms-thumb,
  .seek-wrap:hover input.seek-bar[type=range]::-ms-thumb {
    background-color: $dark-player-text-highlight;
  }
  input.seek-bar[type=range]:focus::-ms-fill-lower {
    background-color: $dark-player-text-inverse;
  }
  input.seek-bar[type=range]:focus::-ms-fill-upper {
    background-color: $dark-player-text-inverse;
  }
  &.cover-art.list-view,
  &.track-view {
    input.seek-bar[type=range]::-webkit-slider-runnable-track {
      background-color: $dark-player-text-normal;
    }
    input.seek-bar[type=range]::-webkit-slider-thumb {
      background-color: $dark-player-text-normal;
    }
    .seek-wrap.sel input.seek-bar[type=range]::-webkit-slider-thumb,
    .seek-wrap:hover input.seek-bar[type=range]::-webkit-slider-thumb {
      background-color: $dark-player-text-highlight;
    }
    input.seek-bar[type=range]:focus::-webkit-slider-runnable-track {
      background-color: $dark-player-text-normal;
    }
    input.seek-bar[type=range]::-moz-range-track {
      background-color: $dark-player-text-normal;
    }
    input.seek-bar[type=range]::-moz-range-thumb {
      background-color: $dark-player-text-normal;
    }
    .seek-wrap.sel input.seek-bar[type=range]::-moz-range-thumb,
    .seek-wrap:hover input.seek-bar[type=range]::-moz-range-thumb,
    input.seek-bar[type=range]::-moz-range-thumb:hover {
      background-color: $dark-player-text-highlight;
    }
    input.seek-bar[type=range]::-ms-track {
      background-color: $dark-player-text-normal;
    }
    input.seek-bar[type=range]::-ms-fill-lower {
      background-color: $dark-player-text-normal;
    }
    input.seek-bar[type=range]::-ms-fill-upper {
      background-color: $dark-player-text-normal;
    }
    input.seek-bar[type=range]::-ms-thumb {
      background-color: $dark-player-text-normal;
    }
    .seek-wrap.sel input.seek-bar[type=range]::-ms-thumb,
    .seek-wrap:hover input.seek-bar[type=range]::-ms-thumb {
      background-color: $dark-player-text-highlight;
    }
  }
}
