<form name="contact" netlify>
  <h4 class="center"> Ping me</h4>
  <input placeholder="Name" type="text"  value="" required>
  <input placeholder="Email address" type="email" onblur="this.setAttribute('value', this.value);" value="" required>
  <span class="validation-text">Please enter a valid email address.</span>
  <input placeholder="Subject" type="text" value="" required/>
  <div class="flex-area">
    <textarea placeholder="Message" rows="2" required></textarea>
  </div>
  <button class="send-button"><i class="fa fa-send-o"></i></button>
</form>
<!--
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
-->