<body>
    <main>
    <!-- Start HTML -->
    <div class="simple-audio-player" id="simp" data-config='{"shide_top":false,"shide_btm":false,"auto_load":false}'>
    <div class="simp-playlist">
        <ul>
        <li><span class="simp-source" data-src="/audio/01.so-what.mp3">So What?</span><span class="simp-desc">Miles Davies</span></li>
        <li><span class="simp-source" data-src="/audio/02.blue-in-green.mp3">Blue In Green</span><span class="simp-desc">Miles Davies</span></li>
        <li><span class="simp-source" data-src="/audio/03.freedie-freeloader.mp3">Freddie Freeloader</span><span class="simp-desc">Miles Davies</span></li>
        <li><span class="simp-source" data-src="/audio/04.all-blues.mp3">All Blues</span><span class="simp-desc">Miles Davies</span></li>
        <li><span class="simp-source" data-src="/audio/05.flamenco-sketches.mp3">Flamenco Sketches</span><span class="simp-desc">Miles Davies</span></li>
        </ul>
    </div>
    <div class="simp-footer">Made with 💖 by <a href="#" target="_blank" title="Nny">Nny</a></div>
    </div>    
    <!-- END HTML -->
    </main>
    <!-- Audio Player JS -->
    <script  src="./js/script.js"></script>
    </body>
    </html>